@use "./mixins.scss";

.section {
  padding-bottom: 1rem;

  @include mixins.breakpoint(tablet) {
    padding-bottom: 1.25rem;
  }

  @include mixins.breakpoint(laptop) {
    padding-bottom: 1.5rem;
  }

  @include mixins.breakpoint(desktop) {
    padding-bottom: 2rem;
  }
}
